<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpaperChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WallpaperChanger.Properties.Settings>
            <setting name="cbSourceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbPeriodIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbWallpaperSetIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbHideTrayChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAutorunChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbLangIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLang" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="DateToUpdateM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateToUpdateD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateToUpdateY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateToUpdateH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateToUpdateMin" serializeAs="String">
                <value>0</value>
            </setting>
        </WallpaperChanger.Properties.Settings>
    </userSettings>
</configuration>