<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpaperChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WallpaperChanger.Properties.Settings>
            <setting name="WallpaperSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WallpaperStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeUpdate" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="UpdateWithStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNoInetMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DayUpdate" serializeAs="String">
                <value>0</value>
            </setting>
        </WallpaperChanger.Properties.Settings>
    </userSettings>
</configuration>